# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# etc
.idea/
.gradle/
build/

# hprof files are heap dump of the memory of java-based processes. Huge hprof files most commonly
# indicate out of memory issues about the related processes. These hprof files can be configured
# at startup to track and monitor memory performance issues
*.hprof
