name: RELEASE

on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'

permissions:
  contents: write

jobs:
  Prepare-Release:
    runs-on: ubuntu-20.04
    steps:
      - name: 'Set up tags REST endpoint environment variable'
        run: echo "TAGS_REST_ENDPOINT=https://api.github.com/repos/${{ github.repository }}/tags" >> $GITHUB_ENV
      - name: 'Derive latest created tag within repository as an environment variable'
        run: echo "LATEST_TAG=$(curl -s ${{ env.TAGS_REST_ENDPOINT }} | jq -r '.[0].name')" >> $GITHUB_ENV
      - name: 'Draft versioned release on Github'
        run: |
          curl -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
            https://api.github.com/repos/${{ github.repository }}/releases \
            -d '{"tag_name":"${{ env.LATEST_TAG }}","name":"${{ env.LATEST_TAG }}","draft":true,"generate_release_notes":true}'
